body {
	padding: 0 1rem;
	background-color: white;
}
section {
	margin: 3rem 0;
}
img {
	width: 100%;
}
.title {
	padding-bottom: 1rem;
	border-bottom: 1px solid rgba(230, 222, 222, 0.783);
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}
.grid-item {
	position: relative;
}
.img-title {
	position: absolute;
	top: 0;
	background-color: black;
	padding: 0.7rem;
}
.img-title > p {
	color: white;
	display: inline;
	font-size: 1.2rem;
	font-weight: 600;
}

#modal {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top: 20vh;
	background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
	margin: auto;
	width: 700px;
	position: relative;
	height: auto;
}

#close {
	color: deeppink;
	font-size: 2.5rem;
	font-weight: 900;
	position: absolute;
	top: 0;
	right: 0.5rem;
}

#close:hover,
#close:focus {
	color: darkblue;
	cursor: pointer;
}
